
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//FontAwesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import '~select2/src/scss/core';

@import '~jquery-ui/themes/base/all.css';
@import '~jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon';

.navbar-laravel {
  background-color: $darkOrange;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body{
  color: $gray;
}

.bg-light-orange{
  background-color: $lightOrange;
}
.bg-medium-orange{
  background-color: $mediumOrange;
}
.bg-dark-orange{
  background-color: $darkOrange;
}
.bg-borboleta{
  background-image: url("/images/card-bg.jpg");
}

.breadcrumb{
  background-color: $gray !important;
}
.breadcrumb-item>a{
  color: #fff;
}

.title{
  font-weight: bolder;
}
.dhx_cal_event_clear {
  color: #fff !important
}
.dhx_cal_event div.dhx_footer,
.dhx_cal_event.past_event div.dhx_footer,
.dhx_cal_event.event_english div.dhx_footer,
.dhx_cal_event.event_math div.dhx_footer,
.dhx_cal_event.event_science div.dhx_footer{
  background-color: transparent !important;
}
.dhx_cal_event .dhx_body{
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0.7;
}
.dhx_cal_event .dhx_title{
  line-height: 12px;
}
.dhx_cal_event_line:hover,
.dhx_cal_event:hover .dhx_body,
.dhx_cal_event.selected .dhx_body,
.dhx_cal_event.dhx_cal_select_menu .dhx_body{
  opacity: 1;
}

.dhx_cal_event.event_high div, .dhx_cal_event_line.event_high {
  background-color: $red !important;
  border-color: $red!important;
}
.dhx_cal_event.dhx_cal_editor.event_high {
  background-color: $red !important;
}
.dhx_cal_event_clear.event_high {
  color: $red !important;
}

.dhx_cal_event.event_medium div, .dhx_cal_event_line.event_medium {
  background-color: $orange !important;
  border-color: $orange!important;
}
.dhx_cal_event.dhx_cal_editor.event_medium {
  background-color: $orange !important;
}
.dhx_cal_event_clear.event_medium{
  color: $orange !important;
}

.dhx_cal_event.event_low div, .dhx_cal_event_line.event_low {
  background-color: $green !important;
  border-color: $green!important;
}
.dhx_cal_event.dhx_cal_editor.event_low {
  background-color: $green !important;
}
.dhx_cal_event_clear.event_low{
  color: $green !important;
}


.dropdown-dots.dropdown-toggle::after{
  display: none;
  margin-left: 0px;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f142";
}

